<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container my-2">
        <h2>Categories</h2>
        <table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Budget</th>
<!--                <th>Delete</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="category : ${categoriesResponse}">
                <td th:text="${category.id}"></td>
                <td th:text="${category.title}"></td>
                <td th:text="${category.budget}"></td>
<!--                <td><a th:href="@{/categories/update/{id}(id=${category.id})}">Edit</a></td>-->

                <td th:if="${category.budget == null}"><a th:href="@{/categories/showFormForAdd/{id}(id=${category.id})}">Add Budget</a></td>
                <td th:if="${category.budget != null}"><a th:href="@{/categories/showFormForAdd/{id}(id=${category.id})}">Update Budget</a></td>
                <td><a th:href="@{/categories/delete/{id}(id=${category.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
<!--    <p><a href="/signup">Add a new user</a></p>-->
</div>

<div>
    <form action="#" th:action="@{/categories/create}" th:object="${foo}" method="post">
<!--        <label for="title">Title</label>-->
        <input type="text"   th:value="${title}" id="title" name="title" placeholder="Title">
<!--&lt;!&ndash;        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>&ndash;&gt;-->

        <input type="submit" value="Add Category">
    </form>
</div>

</body>
</html>