<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>Create Transaction</h1>
    <form action="#" th:action="@{/transactions/create}" th:object="${transaction}" method="post">

        <input type="text" th:field="*{description}" placeholder="Add Budget Amount">
        <input type="text" th:field="*{amount}" placeholder="Add Budget Amount">

        <button type="submit" > Add Budget</button>
    </form>
</div>

</body>
</html>